<h1>Edit <%= @landmark.name %></h1>

<h2>Year Completed: <%= landmark.year_completed %></h2>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <h4>Edit Name:</h4>
  <input type="text" name="landmark[name]" id="landmark_name">
  <br></br>

  <h4>Edit Year Completed:</h4>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br></br>

  <input type="submit" value="Edit Landmark">
</form>