<h1>Add a New Landmark</h1>

<form action="/landmarks" method="POST">
  <h4>Enter the Name of the Landmark:</h4>
    <input type="text" name="landmark[name]" id="landmark_name">
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br></br>



  <input type="submit" value="Create New Landmark">

</form>
